/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@500&family=Roboto+Slab:wght@300&display=swap');

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Slab', serif;
}

.App {
  background: black;
}

.Navbar {
  position: fixed;
  left: 0;
  background-color: #fff;
  height: 100vh;
  width: 15vw; /* Other 85vw is contentDiv */
  color: rgb(36, 124, 117);
}

.contentDiv {
  background: url('../imgs/white-texture.png');
  font-family: 'Montserrat', serif;
  overflow: scroll;
  height: 100%;
  float: right;
  width: 85vw /* other 15vw is Navbar */
}

.navHeader {
  border-bottom: 2px rgba(167, 167, 167, 0.349) solid;
  height: 22vh;
  font-size: 2.3rem;
}

.navHeader h2 {
  padding: 4vh 0;
  color: rgb(36, 124, 117);
  font-family: 'Playfair Display' sans-serif;
  font-size: 2vw;
}

.navHeader h4 {
  font-size: 1.4vw;
}

.nav-items {
  display: grid;
  row-gap: 2vh;
  width: 70%;
  margin: 2vh 2vw;
}

.navRow {
  height: 100%;
  border-radius: 10px;
}

.navRow:hover {
  background: rgb(36, 124, 117);
  color: #fff;
}

.navRow:active {
  background: #aaa;
  color: rgb(36, 124, 117);
}

.nav-name {
  float: left;
  line-height: 2.3vw;
  font-size: 1.4rem;
  margin-left: 0.8vw;
}

.nav-icon {
  width: 2.3vw;
  float: left;
}

.tabBox {
  padding-top: 2vh;
}

#Home {
  min-height: 50vh;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1) ), url('../imgs/coding-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#Home h1 {
  padding: 10vh 2vw;
  color: #fff;
  font-size: 4rem;
  width: 40%;
  float: right;
  text-align: left;
}

.homeHeader {
  color: lightblue;
  width: 35%;
  padding: 15vh 5vw;
}

#About {
  text-align: left;
}

#About p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5vh;
  padding-left: 1vw;
  border-left: solid 10px rgb(36, 124, 117);
  font-size: 2rem;
  /* line-height: 4vh; */
}

.focus {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(36, 124, 117);
  margin: 0 auto;
  margin-bottom: 5vh;
  width: 75%;
}

#Skills .pageHeader {
  margin-bottom: 5vh;
}

.skillCard {
  display: grid;
  grid-template-rows: auto auto;
  background: #fff;
  border: solid rgb(36, 124, 117) 1px;
  width: 75%;
  margin: 0 auto; 
  margin-bottom: 5vh;
  text-align: left;
}

.skill-icons {
  padding-top: 3vh;
  padding-bottom: 5vh;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto;
  row-gap: 3vh;
}

.skill-icons img {
  height: 10vh;
  max-width: 15vw;
  margin-bottom: 2vh;
}

.skillCard h2 {
  float: left;
  margin: 2vh 1vw;
  font-size: 2rem;
  border-bottom: solid rgb(36, 124, 117) 1px;
  padding-bottom: 1vh;
}


#portfolio {
  display: grid;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5vh;
  grid-row-gap: 5vh;
  column-gap: 4vw;
  grid-template-columns: 50% 50%;
}

.project {
  border: rgb(36, 124, 117) solid 1px;
}

.project h2 {
  font-size: 2vw;
  width: 100%;
  background: #fff;
}

.project a img {
  width: 100%;
  min-height: 80%;
}

.pageHeader {
  color: #fff;
  background: rgb(36, 124, 117);
  min-width: 100%;
  min-height: 11vh; /* Linked to line height on .pageHeader h4 {} */
  margin-bottom: 5vh;
}

.pageHeader h4 {
  line-height: 11vh; /* Linked to min-height on .pageHeader {} */
  text-align: left;
  padding-left: 3vw;
  font-size: 2.5rem;
  font-weight: 600;
}

.contact-content {
  display: grid;
  padding: 0 2vw;
  grid-template-columns: 20% 80%;
  margin-bottom: 5vh;
}

.contentCols {
  text-align: left;
  padding: 1.5vw;
}

.contentCols img {
  width: 10vw;
  margin-bottom: 3vh;
}

.contentCols h2 {
  font-size: 3vw;
  margin-bottom: 1vh;
}

.contentCols p {
  margin-bottom: 1vh;
  width: 60%;
}

.contactForm input {
  text-indent: 0.5vw;
  width: 100%;
  height: 5vh;
  margin: 1vh auto;
}

.contactForm input:nth-last-of-type(2) {
  height: 10vh;
}

.floating-label{
  position: absolute;
  top: 0;
}

@media screen and (max-width: 1500px) {
  #Home h1 {
    font-size: 3rem;
    width: 50%;
  }  
}

@media screen and (max-width: 1200px) {
 
  .skill-header h2 {
    margin-left: 3vw;
  }

  .nav-name {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .nav-name {
    font-size: .9rem;
    margin-left: 0.8vw;
  }

  .skill-icons {
    grid-template-columns: auto auto auto;
    row-gap: 5vh;
  }
}

@media screen and (max-width: 780px) {
  #Home h1 {
    font-size: 2.3rem;
  }

  .contentDiv {
    width: 90vw;
  }

  .pageHeader {
    padding-left: 4vw;
  }

  .Navbar {
    width: 10vw;
  }

  .navHeader, .nav-name {
    display: none;
  }

  .navRow {
    width: auto;
  }

  .navRow:hover {
    background: #fff;
  }

  .navRow img {
    width: 70%;
    border-radius: 10px;
    padding: 5px;
  }

  .nav-items {
    width: auto;
  }

  .navRow img:hover {
    background: #aaa;
  }
  
  .skill-icons {
    grid-template-columns: auto auto;
    row-gap: 5vh;
  }

  .skill-icons img {
    max-width: 20vw;
    margin-bottom: 2vh;
  }

  #portfolio {
    grid-template-columns: auto;
  }
}
